<!DOCTYPE html>
<html>
	<head><title>Customer Registration</title></head>
	<body>
		<form method="post" action="/post-update">
			<%
				console.log(custResult);
				var customer = custResult[0];
			%>
			Customer Id: <input type="text" name="CustomerId" value="<%= customer.CustomerId %>" readonly="readonly" /><br />
			First Name: <input type="text" name="CustFirstName" value="<%= customer.CustFirstName %>" /><br />
			Last Name: <input type="text" name="CustLastName" value="<%= customer.CustLastName %>" /><br />
			Address: <input type="text" name="CustAddress" value="<%= customer.CustAddress %>" /><br />
			City: <input type="text" name="CustCity" value="<%= customer.CustCity %>" /><br />
			Province: <input type="text" name="CustProv" value="<%= customer.CustProv %>" /><br />
			Postal Code: <input type="text" name="CustPostal" value="<%= customer.CustPostal %>" /><br />
			Country: <input type="text" name="CustCountry" value="<%= customer.CustCountry %>" /><br />
			Home Phone: <input type="text" name="CustHomePhone" value="<%= customer.CustHomePhone %>" /><br />
			Business Phone: <input type="text" name="CustBusPhone" value="<%= customer.CustBusPhone %>" /><br />
			Email: <input type="text" name="CustEmail" value="<%= customer.CustEmail %>" /><br />
			Agent Id: <select name="AgentId" value="<%= customer.AgentId %>" >
				<option value="">Select an agent</option>
				<% agentsResult.forEach((agent)=>{ %>
				<option value="<%= agent.AgentId %>"><%= agent.AgtFirstName %> <%= agent.AgtLastName%></option>				
				<% }); %>
			</select>
			<br />
			<button type="submit">Send</button>
		</form>
	</body>
</html>