<!DOCTYPE html>
<html>
	<head><title>Customers</title></head>
	<body>
		<table border="1">
		<%	result.forEach((customer)=>{ %>
			<tr>
				<td><%= customer.CustomerId %></td>
				<td><%= customer.CustFirstName %></td>
				<td><%= customer.CustLastName %></td>
				<td><%= customer.CustAddress %></td>
				<td><%= customer.CustCity %></td>
				<td><%= customer.CustProv %></td>
				<td><%= customer.CustPostal %></td>
				<td><%= customer.CustCountry %></td>
				<td><%= customer.CustHomePhone %></td>
				<td><%= customer.CustBusPhone %></td>
				<td><%= customer.CustEmail %></td>
				<td><%= customer.AgentId %></td>
			</tr>
		<%	}); %>
		</table>
	</body>
</html>