doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title #{_title}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.min.css')
nav.navbar.navbar-dark.navbar-expand-xl.bg-primary
    .container-fluid
        a.navbar-brand(href='/') #{_brand}
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navcol-1')
            span.visually-hidden Toggle navigation
            span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active(href='/') Home
                li.nav-item
                    a.nav-link.active(href='contact') Contact Us
                li.nav-item
                    a.nav-link.active(href='bookings') View Bookings
                li.nav-item
                    a.nav-link.active(href='insert-customer') Register Customer
                li.nav-item
                    a.nav-link.active(href='delete-customer') Delete Customer
                li.nav-item
                    a.nav-link.active(href='display-customer') Display Customer
                li.nav-item
                    a.nav-link.active(href='update-customer') Update Customer
                li.nav-item
                    a.nav-link.active(href='display-customer-get-all') Customer List
section.contact-clean.d-flex.justify-content-center
    div
        table.table
            thead
                tr
                    th ID
                    th Booking Date
                    th Package
                    th Customer
            tbody
            each booking in result
                tr
                    th(scope="row") #{booking.BookingId}
                    td #{booking.BookingDate}
                    td #{booking.PackageId}
                    td #{booking.CustomerId}
footer.footer-basic.bg-light
    ul.list-inline
        li.list-inline-item
            a(href='index') Home
        li.list-inline-item
            a(href='contact') Contact
        li.list-inline-item
            a(href='register') Register
    p.copyright James B, Hilmi AH &copy; 2022
    p.copyright #{_brand}
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js')
script(src='/js/script.min.js')
